p {
    font: 16px "Lucida Grande", "Arial", "sans-serif";
}

body {
    font: 13px "Lucida Grande", "Arial", "sans-serif";
    background-color: #fff;
}

#page_container {
    width: 920px;
}

img {
    border: 0;	
}

.ok, li.ok a, tr.ok a, td.ok a, th.ok a {
    color: #060;
}

.fail, li.fail a, tr.fail a, td.fail a, th.fail a {
    color: #600;
}

.muted, li.muted a, tr.muted a, td.muted a, th.muted a {
    font-style: italic
}

ul.file_list, ul.test_list, ul.result_list {
    list-style-type: none;
    padding:0px;
}

.comments {
    padding: 3px;
}

/*
 * Dashboard page
 */

#dashboard td a {
    text-decoration: none;
}
#dashboard th {
    font-weight: normal;
}
#dashboard th a {
    text-decoration: none;
}
#dashboard .grid th, .grid td {
    border: 1px solid black;
}
#dashboard .grid a:hover {
    text-decoration: underline;
}    
#dashboard .grid .menu a:hover {
    text-decoration: none;
}    

/*
 * Result page
 */

/*
 * File page
 */

/*
 * Report page
 */

#report ul.result_list {
    list-style-type: none;
    padding:0px;
}

#report ul.result_list a {
    text-decoration: none;
}

#report ul.test_list {
    list-style-type: none;
}
