p {
    font: 16px "Lucida Grande", "Arial", "sans-serif";
}

body {
    font: 13px "Lucida Grande", "Arial", "sans-serif";
    background-color: #fff;
}

img {
    border: 0;	
}

.ok, li.ok a, tr.ok a, td.ok a, th.ok a {
    color: #060;
}

.fail, li.fail a, tr.fail a, td.fail a, th.fail a {
    color: #600;
}

.mute, li.mute a, tr.mute a, td.mute a, th.mute a {
    font-style: italic
}

ul.file_list, ul.test_list, ul.result_list {
    list-style-type: none;
    padding:0px;
}

.comments {
    padding: 3px;
}

/*
 * Dashboard page
 */

#dashboard td a {
    text-decoration: none;
}
#dashboard th {
    font-weight: normal;
}
#dashboard th a {
    text-decoration: none;
}

#dashboard .actions_cell {
    font: 14px "Lucida Grande", "Arial", "sans-serif";
}

/*
 * Result page
 */

/*
 * File page
 */

/*
 * Report page
 */

#report ul.result_list {
    list-style-type: none;
    padding:0px;
}

#report ul.result_list a {
    text-decoration: none;
}

#report ul.test_list {
    list-style-type: none;
}

/* #page_container {
    width: 1080px;
}*/

