p {
    font: 16px "Lucida Grande", "Arial", "sans-serif";
}

body {
    font: 13px "Lucida Grande", "Arial", "sans-serif";
    background-color: #fff;
}

img {
    border: 0;	
}

.ok, li.ok a {
    color: #060;
}

.fail, li.fail a {
    color: #600;
}

/*
 * Dashboard page
 */

#dashboard td a {
    text-decoration: none;
}
#dashboard th {
    font-weight: normal;
}
#dashboard th a {
    text-decoration: none;
}

/*
 * Result page
 */

#result ul.test_list {
    list-style-type: none;
    padding:0px;
}

/*
 * File page
 */

#file ul.result_list {
    list-style-type: none;
    padding:0px;
}

/*
 * Report page
 */

#report ul.result_list {
    list-style-type: none;
    padding:0px;
}

#report ul.result_list a {
    text-decoration: none;
}

#report ul.test_list {
    list-style-type: none;
}

